body{
    background-color: #641E16;
}

.navbar-toggle-icon{
    color:black;
}

.lead{
    color: white;
}

#instructors{
    background-color: rgb(234, 204, 167);

}

h1{
    color: white;
}

/* Footer */
#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #3a3a3a;
}