{% extends "base.html" %}

{% load static %}


{% block content %}

<section class="bg-dark text-light p-5 text-center" id="story-section">
    <h1> Our story </h1>
    <div class="container bg-custom mt-4">
        <img class="w-90 mx-auto img-fluid" id="hero" src="/static/images/barneys_shop.webp"
            alt="AI generated image of a barbershop">
        <p class="lead my-4">
            Welcome to Barney's Barbershop, where tradition meets style in every cut. Our story began over 20 years ago
            when Barney, a passionate and skilled barber, decided to open the doors of his first barbershop in the heart
            of the community. What started as a small one-chair shop with a dream to provide exceptional grooming
            services has grown into a local institution, known for its friendly atmosphere, skilled barbers, and
            commitment to timeless craftsmanship.

            Barney's journey into barbering wasn’t just about haircuts—it was about creating a space where people could
            feel at home. His dedication to mastering the art of barbering was matched by his desire to build
            relationships with his clients. At Barney's Barbershop, every client is treated like family, and every
            service is performed with care, precision, and a personal touch.
            <br>
            What makes Barney's Barbershop unique is not just our top-tier grooming services, but the experience we
            offer. Our clients come back not only for a great haircut or shave, but for the friendly conversation, the
            warm atmosphere, and the attention to detail that has become our hallmark. Our barbers take the time to
            listen to your preferences, providing a service that is personalized to your individual style.

            We are also proud to be a barbershop that serves generations. Many of our clients who first visited as young
            men now bring their own sons for their first haircut. This connection to our community is something we
            cherish deeply, and we are honored to be a part of so many lives.

        </p>
    </div>


</section>







{%endblock%}