<!-- confirm_cancellation.html -->

{% extends 'base.html' %}

{% block content %}
<div class="container text-white text-center">
  <div class="confirmation-message">
    <h2>Confirm Cancellation</h2>
    <p>Are you sure you want to cancel your appointment with {{ appointment.barber }} on {{ appointment.date }} at {{ appointment.time }}?</p>

    <form method="post">
      {% csrf_token %}
      <button type="submit" class="btn btn-danger">Confirm Cancellation</button>
      <a href="{% url 'profile' %}" class="btn btn-secondary">Go Back</a>
    </form>
  </div>
</div>
{% endblock %}
