{% extends "base.html" %}

{% block content %}


<section class="bg-dark text-light p-5 text-center">
    <div class="container">
        <h1> Welcome to Barney's Barbershop </h1>
        <p class="lead my-4">
            Barney's Barbershop, established in 1995 and located in the heart of Greystones, County Wicklow, is your
            go-to destination for timeless cuts, contemporary styles, and a warm, welcoming atmosphere. With a
            long-standing tradition of quality grooming and personalized service, Barney's combines traditional
            barbering techniques with modern trends to offer a range of services, from classic haircuts to beard
            trims and styling. With nearly three decades of experience, our team of skilled barbers is dedicated to
            ensuring every customer leaves looking sharp and feeling their best.
        </p>

        <button class="btn btn-primary btn-lg">
            Book Now!
        </button>
    </div>

</section>

{%endblock%}
