{% extends "base.html" %}

{% load static %}

{% url 'account_signup' as signup_url %}

{% block content %}

<div class="container text-center text-white">
<h1> Welcome to your profile, your appointments are listed below</h1>
<div class="container">

    {% if messages %}
        {% for message in messages %}

        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>

            
    {% endfor %}

    {% endif%}

{% for booking in bookings %}
    {{ booking }}<br>
{% endfor %}
</div>
</div>

<!-- Some code and basic layout referenced from I think therefore I blog walkthrough templates lessons -->
<div class="d-flex flex-column min-vh-100">
<div class="col-12 mt-3 left p-5">
    <div class="row g-4">
        {% for booking in bookings %}
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body text-center">
                    
                        <h2 class="card-title">{{ booking}}</h2>
                    

                    <hr />
                    <p class="card-text text-muted h6">{{ booking.created_on}}
                    </p>
                </div>
                <div class="text-center">
                    <a class="btn btn-primary" href="{% url 'edit_appointment' booking.id %}" role="button">Edit Booking</a>
                    <a class="btn btn-danger" href="{% url 'delete_appointment' booking.id %}" role="button">Delete Booking</a>
                </div>
            </div>
        </div>
        {% if forloop.counter|divisibleby:3 %}
    </div>
    <div class="row">
        {% endif %}
        {% endfor %}

    </div>
</div>
</div>
</div>


</div>


{%endblock%}