{% extends "base.html" %}

{% load static %}

{% block content %}
<h1 class="text-center">What we offer</h1>

<div class="container">
    <div class="row g-4">
        <div class="col-12 col-md-12 col-lg-4">
            <div class="card text-center">
                <img src="/static/images/haircut.jpeg" alt="Photo of a man getting a haircut" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-body">Haircut</h5>
                    <h6>€25</h6>
                    <p class="card-text">
                        At Barney's Barbers, we believe a great haircut is the foundation of every man's style. Our
                        expert barbers are skilled in the latest techniques, ensuring a sharp, clean cut that suits your
                        unique look. Whether you're after a classic cut, a modern fade, or a tailored trim, our team
                        will work with you to achieve a style that enhances your confidence. Enjoy a friendly
                        atmosphere, personalized service, and attention to detail that makes every visit to Barney's
                        Barbers more than just a haircut—it's an experience. Step in, sit back, and leave feeling your
                        best.
                    </p>
                    {% if user.is_authenticated %}
                        <a href="{% url 'book_appointment' %}" class="btn btn-primary" >Book Now!</a>
                        {% else %}
                        <a href="{% url 'account_login' %}" class="btn btn-primary" >Book Now!</a>
                        {% endif %}
                </div>
            </div>
        </div>
        <div class="col-12 col-md-12 col-lg-4">
            <div class="card text-center">
                <img src="/static/images/beard_trim.webp" alt="Photo of a man getting a beard trim"
                    class="card-img-top">
                <div class="card-body">
                    <h5 class="card-body">Beard Trim</h5>
                    <h6>€20</h6>
                    <p class="card-text">
                        At Barney's Barbers, a well-groomed beard is more than just facial hair—it's a statement. Our
                        skilled barbers offer expert beard trimming services to keep your beard looking sharp and
                        stylish. From precision shaping to full beard maintenance, we tailor each trim to complement
                        your facial features and personal style. Whether you prefer a neat stubble or a bold, full
                        beard, our barbers use top-quality products and techniques to ensure a flawless finish.
                        Experience the care and expertise that will leave your beard looking its best—visit us at
                        Barney's Barbers for a beard trim that truly stands out.
                    </p>
                    {% if user.is_authenticated %}
                        <a href="{% url 'book_appointment' %}" class="btn btn-primary" >Book Now!</a>
                        {% else %}
                        <a href="{% url 'account_login' %}" class="btn btn-primary" >Book Now!</a>
                        {% endif %}
                </div>
            </div>
        </div>
        <div class="col-12 col-md-12 col-lg-4">
            <div class="card text-center">
                <img src="/static/images/clean_shave.webp" alt="Photo of a man getting a razor shave"
                    class="card-img-top">
                <div class="card-body">
                    <h5 class="card-body">Razor Shave</h5>
                    <h6>€30</h6>
                    <p class="card-text">
                        Experience the ultimate in grooming with a traditional razor shave at Barney's Barbers. Our
                        master barbers bring back the timeless art of the straight razor, delivering a close,
                        comfortable shave with precision and care. Begin with a relaxing hot towel treatment to soften
                        your skin, followed by a smooth shave using only the finest blades and products. Whether you're
                        preparing for a special occasion or simply treating yourself, our razor shave service leaves
                        your skin feeling refreshed, rejuvenated, and impeccably smooth.
                    </p>
                    {% if user.is_authenticated %}
                        <a href="{% url 'book_appointment' %}" class="btn btn-primary" >Book Now!</a>
                        {% else %}
                        <a href="{% url 'account_login' %}" class="btn btn-primary" >Book Now!</a>
                        {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}