body{
    background-color: #e1b382;
    font-family: merriweather;
}

.navbar-toggle-icon{
    color:black;
}

.lead{
    color: white;
}

#instructors{
    background-color: #2d545e;
    color: black;

}

h1{
    color: #12343b;
}

p.lead.my-4{
    color:#12343b;
}

p.lead{
    color:#12343b;
}

#story-section h1{
    color: white;
}

#story-section p {
    color: white;
}


